/*Background image for Start screen*/
.root{
    -fx-background-image: url('images/space.png');
}

/*Start button styling*/
#startButton{
    -fx-font-size: 30px;
    -fx-text-fill: white;
    -fx-background-color: black;
    -fx-background-radius: 40px;
    -fx-border-width: 2px;
    -fx-border-color: white;
    -fx-border-radius: 40px;
}

/*Start button hover styling*/
#startButton:hover{
    -fx-font-size: 31px;
    -fx-background-color: darkred;

}
